body{
    
    color: #132A13;
    background-image: url("Rat1.png");
}
.header{
    background-color: aqua;
    margin-left: auto;
    height:60px;
    
}
.Content{
    
    
    
} 

.divider{
    
}

