body{
    
    color: #132A13;
}
.Content{
    background-image: url("HelixShortSpring.png");
    background-repeat: repeat-y;
    height: 250vh;
    background-position: center;
    background-size: 375px;
    
} 

