body{
    
    background-color: aliceblue;
    color:black;
}

.navTextSize{
        font-size:100%
    }
 .navTextSizeBrand{
        font-size:200%
    }

.button {
  background-color: red;
  border: none;
  color: black;
  display: flex;
  font-size: 16px;
  margin: 4px 2px;
  width:100px;
  height:100px;
  
}
.Content{
    text-align: center;
    color:black;
    font-size: 200%;
    font-family: monospace;
    margin-left: 10%;
    margin-right:10%;
    
}
.subHead{
    
    text-align: center;
    color:black;
    font-family: monospace;
    font-size: 50px;
    
    margin-top: 2%
    
}

/*button {
    padding: 0px;
    height:133px;
    width:133;
    background-color :red;
    cursor: crosshair;
   
}*/

.ratButton{
    background-image: url("Rat1.png");
  height:133px;
    width:133px;
   resize: inherit;
    margin-left: 10%;
    
}

.ButtonText{
    margin-top:85%;
    margin-left:17%;
    font-family: sans-serif;
    background-color:aliceblue;
    opacity: 50%;
    border-width: 3px;
    border-color: black;
    
}



.header{
     font-size: 80px;
    font-family: monospace;
    text-align: center;
}
.main{
    
    float:right;
    width:40%;
    margin-right: 30%;
    font-size: 80;
    background-color: black;
}
.MenuBar{
    
}