body{
    
    background-color: aliceblue;
    color:black;
}
/*.navBar{NavBar stuff starts 
    margin-top:-5%;
     width:100%;
    background-color: cadetblue;
    position:fixed;
}
.navBar a{
    float:left;
    display: block;
    color:aliceblue;
    text-align: center;
    padding: 14px 16px;
    font-size: 17px;
}
.navBar a:hover{
    background-color: f0ffff;
    color:azure;
}
.navBar a.active{
    background-color:darkcyan;
  color: white;
}
.navbar .icon{
    display:none;
}

@media screen and (max-width:600px){
    .navBar a:not(:first-child) {display: none;}
    .navBar a.icon {
    float: right;
    display: block;
  }
}

@media screen and (max-width: 600px){
    .navBar.responsive {position:relative;}
    .navBar.responsive .icon{
        position:absolute;
        right:0;
        top:0;
    }
}
.navBar.responsive a {
    float:none;
    display: block;
    text-align: left;
} NavBar stuff ends*/

.button {
    
    height:138px;
    width:135px;
    background-color :cadetblue;
    cursor: crosshair;
    margin: 1px;
   
}
.buttonText{
    font-family: monospace;
    color:aliceblue;
    opacity: 100%;
    background-color: black;
    opacity: 40%;
    
}
.sideBar{
    width:138px;
    height: 100%;
    background-color: cadetblue;
    top:0;
    left:0;
    position: fixed;
    /*background-image:url(SideBar.png);*/
    
}
.homeButton{
    background-image:url(GP.png)
    
}   
.header{
    color: black;
    font-size: 50px;
    font-family: monospace;
    text-align: center;
    margin-left:2%;
    margin-right:20%;
    margin-top: 5%;
        
}
@media screen and (min-width:1800px){
    .header {
        font-size:70px;
        margin-right: 20%;     
        width:100%;
    }
}

    .navrespond{
        
    }
    @media screen and (min-width:1800px){
    .naverespond {
        font-size:50px;
        
        
    }
}

.content{
    
    color:black;
    font-size: 400%;
    font-family: monospace;
    margin-left: 2%;
    margin-right:30%;
    text-align: left;
    
}
@media screen and (max-width:400px) and (max-height:800px){
    .content {
        
        font-size:50px;
        
    }
}
@media screen and (min-width:2000px){
    .content{
        font-size:50px;
        
    }
} 
.imagecontent{
    float:right;
    margin-right: 5%;
        border:2px;
    border-color: cadetblue;
    
}
.subHead{
    
    
    color:black;
    font-family: monospace;
    font-size: 50px;
    margin-left: 27%;
    margin-top: 2%
    
}